body{
    margin: 0;
    padding: 0;
}
.google2,.google3,.google4{
    background-color: cyan;
    width: 100%;
    height: 120px;
    text-align: center;
}
.google4{
    background-color: cadetblue !important;
}
p,a{
    margin-top: 0px;
}
.umumi{
    display: flex;
    gap: 4px;
}